{% extends "blog/base.html" %}

{% block title %}Add Comment{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>Add Comment</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ form.content.errors }}
                    <label for="{{ form.content.id_for_label }}">Comment</label>
                    <textarea class="form-control" id="{{ form.content.id_for_label }}" name="{{ form.content.html_name }}" rows="5">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}